* {
  box-sizing: border-box;
}
.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  background: #edeae0;
  color: #242a3d;
}

.hero {
  display: flex;
  align-items: flex-start;
  padding: 2rem 6rem;
  background: #272c49;
  color: #edeae0;
}

.hero-image {
  margin-left: -6rem; /* cancels the hero padding */
}

.hero-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 0%; 
  display: block;
}

.hero-text {
  margin-left: auto;
  text-align: center;     
  max-width: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 440px;        
  font-family: 'Fira Code', monospace;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #edeae0;
  padding-bottom: 2.0rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero-text p {
  font-size: 1.0rem;
  font-weight: 300;
  margin-top: 2.0rem;
  max-width: 520px;
  opacity: 1.0;
}

.hero-contact {
  font-weight: 300;
  font-size: 0.70rem;
  margin-top: auto; /* pushes contact to bottom */
  opacity: 1.0;
}

.linkedin-btn {
  margin-bottom: 2.0rem; 
  color: #edeae0; 
  font-size: 0.70rem;
}

.linkedin-btn:hover {
  background: #004182;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}

h2 {
  text-align: center;
  font-family: 'Fira Code', monospace;
  font-size: 2.0rem;
  font-weight: 300;
  margin-bottom: 2.0rem;
  border-bottom: 2px solid #272c49;
  padding-bottom: 2.0rem;
}

.project {
  margin-bottom: 3rem;
  font-family: 'Fira Code', monospace;

}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}

footer a {
  color: #4da3ff;
  text-decoration: none;
}
