* {
  box-sizing: border-box;
.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
}

body {
  margin: 0;
  background: #edeae0;
  color: #242a3d;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 6rem;
  background: #272c49;
  color: #edeae0;
}

/* Image on the left */
.hero-image img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 0%; /* circular photo */
  border: 0px solid #fff;
}

.hero-text {
  text-align: center;     /* move text left */
  max-width: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 440px;        /* match photo height */
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #edeae0;
  padding-bottom: 2.0rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero-text p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 2.0rem;
  max-width: 520px;
  opacity: 1.0;
}

.hero-text contact {
  font-weight: 300;
  font-size: 0.85rem;
  margin-top: auto;
  opacity: 1.0;
}

.linkedin-btn {
  margin-bottom: 2.0rem; 
  color: #edeae0; 
  font-size: 0.85rem;
}

.linkedin-btn:hover {
  background: #004182;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}

h2 {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 300;
  margin-bottom: 2.0rem;
  border-bottom: 2px solid #272c49;
  padding-bottom: 2.0rem;
}

.project {
  margin-bottom: 3rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}

footer a {
  color: #4da3ff;
  text-decoration: none;
}
