* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  background: #edeae0;
  color: #242a3d;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 6rem;
  background: #272c49;
  color: #edeae0;
}

/* Image on the left */
.hero-image img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 0%; /* circular photo */
  border: 0px solid #fff;
}

.hero-text {
  text-align: center;
  max-width: 60%;
  margin-top: 0;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero-text p {
  font-size: 1.0rem;
  margin-top: 2.0rem;
  opacity: 1.0;
}

.hero-text q {
  font-size: 1.0rem;
  margin-bottom: 2.0rem;
  opacity: 1.0;
}

.linkedin-btn {
  display: inline-block;
  padding: 0.6rem 1.4rem;
  background: #0a66c2;      /* LinkedIn blue */
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

.linkedin-btn:hover {
  background: #004182;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}

h2 {
  text-align: center;
  font-size: 2.0rem;
  margin-bottom: 2.0rem;
  border-bottom: 2px solid #272c49;
  padding-bottom: 2.0rem;
}

.project {
  margin-bottom: 3rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}

footer a {
  color: #4da3ff;
  text-decoration: none;
}
